 .card-title {
   font-size: medium;
   color: teal;
 }
 .card-img-top{
   height: 300px;
   width: 260px;
 }
 .card-price {
   font-size: large;
 }

 .card-size {
   font-size: medium;
   color: brown;
 }
 .container button{
    margin-right:16px;
 }

 .container button:last-child{
    margin-right:0px;
 }
 label {
  font: 1rem 'Fira Sans', sans-serif;
}

input {
  margin: .4rem;
}

 